.main {
  margin: 50px 0px 30px 17px;
}
.chunk {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.content1,
.content2,
.content3 {
  font-size: 21.5px;
  font-weight: 500;
  margin: 6px 0px;
}

.btn__journey,
.btn__biography,
.btn__bookmark,
.btn__book,
.content2__photo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1__box {
  display: flex;
  margin: 10px 0px;
}
.content1__photo {
  width: 110px;
  height: 160px;
  border-radius: 8px;
  margin: 0px 16px 15px 0px;
}
.content1__align {
  display: flex;
  flex-direction: column;
}
.content1__title {
  font-size: 19px;
  margin-bottom: 8px;
}
.content1__subtitle {
  font-size: 14.5px;
  opacity: 0.2;
  margin-bottom: 8px;
}
.star__box {
  margin-bottom: 15px;
}
.star__yellow {
  color: var(--yellow);
}
.star__empty {
  opacity: 0.1;
}
.btn__info,
.btn__action {
  display: flex;
}
.btn__info {
  margin-bottom: 20px;
}
.btn__journey,
.btn__biography {
  background-color: rgb(240, 240, 240);
  font-size: 13px;
  width: 70px;
  height: 25px;
  border-radius: 5px;
}
.btn__journey {
  width: 70px;
  margin-right: 10px;
}
.btn__biography {
  width: 80px;
}
.btn__bookmark {
  width: 30px;
  height: 30px;
  background-color: var(--yellow);
  border-radius: 15px;
  margin-right: 45px;
}
.btn__book {
  width: 100px;
  height: 33px;
  background-color: #0c0c0c;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
}
.btn__book span {
  color: white;
}

.content2__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
}
.content2__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}
.content2__photo__container {
  width: 70px;
  height: 108px;
  overflow: hidden;
  border-radius: 8px;
  margin: 10px 0px;
}
.img1 {
  transform: scale(0.277);
}
.img2 {
  transform: scale(0.055);
}
.img3 {
  transform: scale(0.13);
}
.img4 {
  transform: scale(0.15);
}
.content2__star__box {
  width: 75px;
  margin: 0px 0px 10px 0px;
  transform: scale(0.8);
}

.content3__box {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
.content3__photo__container {
  width: 105px;
  height: 132px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.content3__photo {
  position: absolute;
  height: 100%;
  left: -50px;
}
.content3__text {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 15px;
}
.content3__name {
  font-size: 20px;
  margin: 5px;
  line-height: 23px;
}
.content3__description {
  font-size: 13px;
  line-height: 17px;
  opacity: 0.2;
  font-weight: 500;
  margin: 5px;
}
